@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fontColor-rgb: 0, 0, 0;
}
body {
  color: rgb(var(--fontColor-rgb));
}

button {
  border: solid;
  background-color: green;
  border-radius: 10px;
  margin: 10px;
  margin-left: 0px;
  padding: 5px;
  cursor: pointer;
}
